.weather-card {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
}

.weather__card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #00f6ff;
  border-radius: 16px;
  padding: 16px 24px;
  min-height: 56px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.weather-card__temp {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  position: absolute;
  top: 20px;
  left: 16px;
}

.weather-card__img {
  object-fit: cover;
  object-position: right top;
  width: 100%;
}
